 <!-- loader -->
 <!-- <div id="loader">
    <div class="spinner-border text-primary" role="status"></div>
</div> -->
<!-- * loader -->


<!-- App Capsule -->
<div id="appCapsule" class="pt-0" >
    <div style="overflow-y: scroll !important;" [style.height.px]="innerHeight">
    <div class="login-form mt-1" >
        <div class="section">
            <img src="assets/MTLSAUVAGE-LOGO.png" alt="image" class="form-image">
        </div>
        <div class="section mt-1">
            <h1>Get started</h1>
            <h4>Fill the form to log in</h4>
        </div>
        <div class="section mt-1 mb-5">
            <form action="app-pages.html">
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="email" class="form-control" id="email"  required #email placeholder="Email address">
                        <i class="clear-input">
                            <!-- <ion-icon name="close-circle"></ion-icon> -->
                        </i>
                    </div>
                </div>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        
                        <input [type]="typeChange" class="form-control" required #password placeholder="Password">
                        <i class="field-icon" (click)="onToggleShowPassword()">
                            <ion-icon src="assets/eye.svg"></ion-icon>
                        </i>
                    </div>
                    <!-- <div class=" mt-1 text-left">
                        <div class="custom-control custom-checkbox mb-1">
                            <input type="checkbox" class="custom-control-input" id="customCheckb1" (click)="onToggleShowPassword()">
                            
                            <ion-icon src="assets/eye.svg"></ion-icon>
                            
                            <label class="custom-control-label text-muted" style="margin-top: 2%;" for="customCheckb1">Show password</label>
                        </div>
                        </div> -->
                </div>

                <div class="form-links mt-2">
                    <div>
                        <a (click)="goToRegister()">Register Now</a>
                    </div>
                    <div><a (click)="goToForgotPassword()" class="text-muted">Forgot Password?</a></div>
                </div>

                <div class="form-button-group">
                    <button type="button" (click)="check(email.value, password.value);" class="btn btn-primary btn-block btn-lg">Log in</button>
                </div>

            </form>
        </div>
    </div>
</div>


</div>
<div id="toast-15" class="toast-box toast-bottom bg-success">
    <div class="in">
        <div class="text">
            Success Color
        </div>
    </div>
</div>

<div id="toast-16" class="toast-box toast-bottom bg-danger">
    <div class="in">
        <div class="text">
            Danger Color
        </div>
    </div>
</div>