<!-- App Bottom Menu -->
<div  class="appBottomMenu">
   
    <a href="javascript:;" class="item" data-toggle="modal" (click)="getAllFriends()" data-target="#sidebarPanel">
        <div class="col">
            <ion-icon  src="assets/menu.svg"></ion-icon>
        </div>
    </a>
    <a  class="item" (click)="goToNewsFeed()">
        <div class="col">
            <ion-icon src="assets/home.svg"></ion-icon>
        </div>
    </a>
    <a (click)="goToNotifications()" class="item">
        <div class="col">
            <ion-icon src="assets/friends.svg"></ion-icon>
            <span *ngIf="reqCount>0" class="badge badge-danger" >{{reqCount}}</span>
        </div>
    </a>
    <a (click)="goToAddPostNotifications()" class="item">
        <div class="col">
            <ion-icon src="assets/notification.svg"></ion-icon>
            <span *ngIf="notificationCount>0" class="badge badge-danger" >{{notificationCount}}</span>
        </div>
    </a>
</div>
<!-- * App Bottom Menu -->

<!-- App Sidebar -->
<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
    
                <!-- profile box -->
                <div class="profileBox">
                    
                    <div class="image-wrapper">
                        <img [src]="
                        profilePicture != null
                          ? 'data:image/jpeg;base64,' + profilePicture
                          : 'assets/user.png'
                      " 
                      alt="image"
                      class="imaged rounded myImg">
                    </div>
                    <div class="in">
                        <strong (click)="goToMyProfile()" data-dismiss="modal">{{userName}}</strong>
                        
                   
                </div>
                    <a href="javascript:;" class="close-sidebar-button" data-dismiss="modal">
                        <ion-icon src="assets/close.svg"></ion-icon>
                    </a>
                </div>
                <!-- * profile box -->
    
                <ul class="listview flush transparent no-line image-listview mt-2">
                  
                    <li *ngIf="!checkUserType()">
                        <a  class="item" data-dismiss="modal" (click)="goToNewsFeed()">
                            <div class="icon-box bg-primary">
                                <ion-icon src="assets/home.svg"></ion-icon>
                            </div>
                            <div class="in">
                                Accueil/Home
                            </div>
                        </a>
                    </li>
                    <li *ngIf="!checkUserType()">
                        <a class="item" [routerLink]="['/chatroom']" data-dismiss="modal">
                            <div class="icon-box bg-primary">
                                <ion-icon src="assets/message.svg"></ion-icon>
                            </div>
                            <div class="in">
                                <div>MS Chat</div>
                                <span *ngIf="chatCount>0" class="badge badge-danger">{{chatCount}}</span>
                            </div>
                        </a>
                    </li>
                    <li *ngIf="!checkUserType()">
                        <a [routerLink]="['/post']" class="item" data-dismiss="modal">
                            <div class="icon-box bg-primary">
                                <ion-icon src="assets/article.svg"></ion-icon>
                            </div>
                            <div class="in">
                                <div>MS Wall / Le mur</div>
                               
                            </div>
                        </a>
                    </li>
                    <li >
                        <a [routerLink]="['/discoverevents']" class="item" data-dismiss="modal">
                            <div class="icon-box bg-primary">
                                <ion-icon src="assets/calendar.svg"></ion-icon>
                            </div>
                            <div class="in">
                                <div>Market place</div>
                                <!-- <span class="badge badge-danger">5</span> -->
                            </div>
                        </a>
                    </li> 
                    <li *ngIf="checkUserType()">
                        <a [routerLink]="['/addevent']" class="item" data-dismiss="modal">
                            <div class="icon-box bg-primary">
                                <ion-icon src="assets/calendar.svg"></ion-icon>
                            </div>
                            <div class="in">
                                <div>Post on Market place</div>
                                <!-- <span class="badge badge-danger">5</span> -->
                            </div>
                        </a>
                    </li> 
                </ul>
    
                <div class="listview-title mt-2 mb-1">
                    <span>Online Friends</span>
                </div>
                <div>
                <ul class="listview image-listview flush transparent no-line">
                    <li  *ngFor="let user of friendsArray" (click)="gotoChatroom(user.id)" data-dismiss="modal">
                        <a  class="item">
                            <img [src]="
                            user.profilePicture != null
                              ? 'data:image/jpeg;base64,' + user.profilePicture
                              : 'assets/user.png'
                          "  alt="image" class="image">
                            <div class="in">
                                <div>{{user.name}}</div>
                            </div>
                           
                            <span *ngIf="user.sender!=id && user.seen==false" class="badge badge-danger badge-empty"></span>
                        </a>
                    </li>
                </ul>
                <div *ngIf="!friendsArray.length" style="text-align: center;margin-top: 10px;">
                    No Friends online
                </div>
            </div>
           
    
            <!-- sidebar buttons -->
            <div class="sidebar-buttons">
                <a  class="button" (click)="logout()" data-dismiss="modal">
                    <ion-icon src="assets/logout.svg"></ion-icon>
                </a>
            </div>
            <!-- * sidebar buttons -->
        </div>
    </div>
</div>

<!-- Notification -->
<div id="notification-7" class="notification-box">
    <div class="notification-dialog ios-style">
        <div class="notification-header">
            <div class="in">
                <img src="assets/img/sample/avatar/avatar3.jpg" alt="image" class="imaged w24 rounded">
                <strong>Pablo Cambeiro</strong>
            </div>
            <div class="right">
                <span>just now</span>
                <a href="#" class="close-button">
                    <ion-icon name="close-circle"></ion-icon>
                </a>
            </div>
        </div>
        <div class="notification-content">
            <div class="in">
                <h3 class="subtitle">Hello There</h3>
                <div class="text">
                    This is a simple iOS style notification.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="toast-9" class="toast-box toast-center">
    <div class="in">
        <div class="text">
            Centered Toast
        </div>
    </div>
    <!-- <button type="button" class="btn btn-sm btn-text-light close-button">CLOSE</button> -->
</div>
